// Bullets

.bullet {
    display: flex;
    flex-flow: row;
    .bullet__icon {
        padding-right: 15px;
        img {
            max-width: initial;
            height: 55px;
            width: 55px;
        }
    }
    .bullet__text {
        h5 {
            margin-bottom: 5px;
        }
        p {
            margin: 0;
            padding: 0;
            color: $text-color; 
            text-align: left;
        }
    }
}
.bullet-list {
    .bullet {
        margin-bottom: 30px;
    }
}