// FAQ

.faq-nav {
    flex-direction: column;
    margin: 0 0 32px;
    .nav-link {
        position: relative;
        display: block;
        margin: 0;
        padding: 13px 16px;
        border: 0;
        border-radius: 0;
        color: $text-color;
        font-weight: $font-semibold;
        font-size: 14px;
        transition: background-color .2s ease;
        display: flex;
        align-items: center;
        &:hover {
            background-color: $btn-primary-bg-color;
            color: $btn-primary-txt-color;
            i {
                color: $btn-primary-txt-color;
            }
        }
        &.active {
            background-color: $btn-primary-bg-color;
            color: $btn-primary-txt-color;
            i {
                color: $btn-primary-txt-color;
            }
        }
        i {
            color: $title-color;
            margin-right: 20px;
            font-size: 28px;
            position: relative;
        }
    }
}
.tab-content {
    padding: 50px 60px;
    background-color: $primary-white;
    @include media-breakpoint-down(md) {
        padding: 20px;
    }
    .card {
        border-radius: 0;
        border: transparent;
    }
    h4 {
        font-weight: $font-semibold;
        font-size: 16px;
        color: $title-color;
        margin-bottom: 20px;
    }
    .card-header {
        border-radius: 0;
        border: none;
        background-color: transparent;
        padding: 20px 0;
        @include media-breakpoint-down(md) {
            padding: 10px 0;
        }
        h5 {
            margin: 0;
            .btn-link {
                color: $faq-color;
                z-index: 1;
            }
            button {
                display: block;
                width: 100%;
                padding: 0;
                border: 0;
                text-align: left;
                white-space: normal;
                &:hover,
                &:focus,
                &:active,
                &:hover:active {
                    text-decoration: none;
                }
                &:after {
                    content: "\ea45";
                    font-family: 'LineIcons';
                    font-size: 20px;
                    position: absolute;
                    right: 0;
                    transform: rotate(180deg);
                    transition: transform 0.5s ease;
                }
                &.collapsed:after {
                    transform: rotate(0deg);
                }
                @include media-breakpoint-down(md) {
                    padding-right: 40px;
                    &:after {
                        top: 0;
                    }
                }
            }
        }
    }
    .card-body {
        border: none;
        padding: 0;
        p {
            color: $text-color;
            font-size: 14px;
            padding-bottom: 15px;
            &:last-of-type {
                margin: 0;
            }
        }
    }
}