---
title: About Endless ERA Gaming
layout: default
headerimg: "/assets/images/background/news-about.webp"
---

{% include title.html %}
<!-- About Section -->
<section class="about-section">
    <div class="auto-container">
        <!-- Images Gallery -->
        <div class="images-gallery">
            <div class="row clearfix">
                <!-- Column -->
                <div class="column col-lg-4 col-md-6 col-sm-6">
                    <div class="image wow fadeInLeft" data-wow-delay="0ms">
                        <img src="/assets/images/about1.webp" alt="" />
                    </div>
                </div>
                <!-- Column -->
                <div class="column col-lg-3 col-md-6 col-sm-6">
                    <div class="image wow fadeInLeft" data-wow-delay="300ms">
                        <img src="/assets/images/about2.webp" alt="" />
                    </div>
                </div>
                <!-- Column -->
                <div class="column col-lg-5 col-md-6 col-sm-6">
                    <div class="image wow fadeInLeft" data-wow-delay="600ms">
                        <img src="/assets/images/about3.webp" alt="" />
                    </div>
                </div>
                
            </div>
        </div>
        
        <!-- Lower Content -->
        <div class="lower-content">
            <div class="row clearfix">
                
                <!-- Column -->
                <div class="column col-lg-4 col-md-12 col-sm-12">
                    <h3>Bridging Communities, Crafting Experiences</h3>
                </div>
                
                <!-- Column -->
                <div class="column col-lg-4 col-md-12 col-sm-12">
                    <p>Welcome to Endless ERA Gaming, where our passion for gaming and community has propelled us from a small Discord gaming group into a pivotal force in the gaming event industry.</p>
                </div>
                
                <!-- Column -->
                <div class="column col-lg-4 col-md-12 col-sm-12">
                    <p>Since our inception in 2018, we've been committed to creating immersive gaming experiences, fostering tight-knit communities, and elevating gaming events to new heights.</p>
                </div>
                
            </div>
        </div>
        
    </div>
</section>
<!-- End About Section -->

<!--Sponsors Section-->
<section class="sponsors-section">
    <div class="auto-container">
        
        <div class="sponsors-outer">
            <!--Sponsors Carousel-->
            <ul class="sponsors-carousel owl-carousel owl-theme">
                {% for partner in site.data.partners %}
                <li class="slide-item"><figure class="image-box"><a href="{{ partner.website }}"><img src="{{ partner.image }}" alt="{{ partner.name }}"></a></figure></li>
                {% endfor %}
            </ul>
        </div>
        
    </div>
</section>
<!--End Sponsors Section-->

<!-- Call To Action Section -->
<section class="facts-section">
    <!-- Title Boxed -->
    <div class="title-boxed" style="background-image:url(/assets/images/background/5-3.webp)">
        <div class="auto-container">
            <div class="content wow fadeInLeft" data-wow-delay="0ms">
                <h2>Our Journey<br />from 2018<br /> to Today</h2>
            </div>
        </div>
    </div>
    <!-- End Title Boxed -->
    
    <!-- Lower Boxed -->
    <div class="lower-boxed">
        <div class="auto-container">
            <div class="row clearfix">
                
                <!-- Counter Column -->
                <div class="counter-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
         
                        <div class="featured-block" style="margin-bottom: 50px;">
                            <h3 style="color:#fff;font-size: 35px;font-weight:400;letter-spacing:1px;">Our Humble Beginnings</h3>
                            <div class="text">It all started in 2018 with a vision to bring gamers together. Endless ERA Gaming was born out of a small Discord community, a digital gathering place for gamers to share, play, and discuss their favorite games. Our dedication to creating a welcoming and engaging community set the foundation for what was to come.</div>
                        </div>

                        <div class="featured-block" style="margin-bottom: 50px;">
                            <h3 style="color:#fff;font-size: 35px;font-weight:400;letter-spacing:1px;">A Milestone Year: 2022</h3>
                            <div class="text">Our journey took a significant leap forward in 2022 when we partnered with Otafest to enhance their gaming hall. This collaboration not only improved the gaming experience for attendees but also marked our entry into the world of large-scale gaming event management. Our successful work at Otafest opened the doors to another prestigious opportunity - Animethon. Here, we were tasked with presenting tournaments and operating the video wall, a testament to our expertise and growing reputation in the gaming community.</div>
                        </div>

                        <div class="featured-block" style="margin-bottom: 50px;">
                            <h3 style="color:#fff;font-size: 35px;font-weight:400;letter-spacing:1px;">Continued Growth in 2023</h3>
                            <div class="text">In 2023, we continued to expand our horizons. Our role at Otafest evolved from enhancing the gaming hall to comprehensive floor planning and stage management, ensuring an unparalleled gaming experience for all attendees. At Animethon, we took on the management of the entertainment stage, further solidifying our position as leaders in gaming event management.</div>
                        </div>
                        
                    </div>
                </div>
                
                <!-- Testimonial Column -->
                <div class="testimonial-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column wow fadeInRight" data-wow-delay="0ms">
                        
                        <!-- Testimonial Block -->
                        <div class="testimonial-block">
                            <div class="inner-box">
                                <div class="quote-icon">Our Services Today</div>
                                <div class="text" style="font-size:16px;">Today, Endless ERA Gaming stands as a beacon for quality and innovation in gaming event services. From meticulous floor and stage planning to complete management of gaming and entertainment stages, our portfolio reflects our growth and the trust the gaming community places in us. Our expertise encompasses:</div>
                            
                            </div>
                            <!-- Featured Block -->
                            <div class="featured-block" style="margin-top: 50px;">
                                <div class="inner-box">
                                    <div class="icon-box">
                                        <span class="icon flaticon-joystick"></span>
                                    </div>
                                    <h4><a href="/event-services">Event Services</a></h4>
                                    <div class="text" style="font-size:16px;margin-top:0px">Tailored solutions for gaming tournaments, including planning, execution, and post-event analysis.</div>
                                </div>
                            </div>
                            <!-- Featured Block -->
                            <div class="featured-block" style="margin-top: 0px;">
                                <div class="inner-box">
                                    <div class="icon-box">
                                        <span class="icon flaticon-play-button-4"></span>
                                    </div>
                                    <h4><a href="/broadcast-production">Broadcast Production</a></h4>
                                    <div class="text" style="font-size:16px;margin-top:0px">Elevating gaming events with professional live streaming and video production.
                                    </div>
                                </div>
                            </div>
                            <!-- Featured Block -->
                            <div class="featured-block" style="margin-top: 0px;">
                                <div class="inner-box">
                                    <div class="icon-box">
                                        <span class="icon flaticon-plan"></span>
                                    </div>
                                    <h4><a href="/consulting">Consulting Services</a></h4>
                                    <div class="text" style="font-size:16px;margin-top:0px">Offering strategic insights for event planning, leveraging our experience to help clients achieve their vision.
                                    </div>
                                </div>
                            </div>
                            <div class="inner-box">
                                <div class="quote-icon">Looking Ahead</div>
                                <div class="text" style="font-size:16px;">As we look to the future, Endless ERA Gaming remains committed to enriching the gaming community, fostering connections, and delivering exceptional gaming experiences. Our journey from a small Discord community to a key player in gaming event management is just the beginning.
                                </div>
                            
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
</section>
<!-- End Call To Action Section -->
<!-- Welcome Section -->
<section class="welcome-section">
    <div class="auto-container">      
        <!-- Lower Box -->
        <div class="lower-box">
            <div class="text" style="color:#fff;">We invite you to join us on this exciting journey. Whether you’re a gamer, event organizer, content creator, or sponsor, there’s a place for you in the Endless ERA Gaming community. Together, let's continue to shape the future of gaming events.</div>
            <a href="/contact-us" class="theme-btn btn-style-one"><span class="btn-title">Join us on our quest</span></a>
        </div>
        
    </div>
</section>
<!-- End Welcome Section -->
<div style="border-top: 1px solid #333;"></div>
<!-- Players Section -->
<section class="players-section style-two">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title centered">
            <div class="title">Meet ERA's Worst Gamers, AKA...</div>
            <h2>Leadership Team</h2>
        </div>
        
        <div class="row clearfix">
            {% for leader in site.data.leadership %}
            <!-- Player Block -->
            <div class="player-block col-lg-4 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="0mss">
                <div class="inner-box hvr-bob">
                    <div class="image">
                        <a href="#"><img src="{{leader.image}}" alt="" /></a>
                    </div>
                    <div class="lower-content">
                        <h3><a href="#">{{ leader.name }}</a></h3>
                        <div class="level">{{ leader.role }}</div>
                        <ul class="social-icons">
                            {% if leader.twitter %}<li><a href="{{leader.twitter}}"><span class="fab fa-twitter"></span></a></li>{% endif %}
                            {% if leader.twitch %}<li><a href="{{leader.twitch}}"><span class="fab fa-twitch"></span></a></li>{% endif %}
                            {% if leader.instagram %}<li><a href="{{leader.instagram}}"><span class="fab fa-instagram"></span></a></li>{% endif %}
                            {% if leader.youtube %}<li><a href="{{leader.youtube}}"><span class="fab fa-youtube"></span></a></li>{% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
        
    </div>
</section>
<!-- End Players Section -->