---
layout: default
---

<main class="site-content team-info-page" id="wrapper">
  <div class="container container--large">
    <div class="row">
      <div class="col-lg-7">
        <div class="team-carousel">
          <div class="team-carousel__content">
            {% for member in site.contentcreators %}
            <div class="team-carousel__item" data-icon="player-{{member.alias}}">
              <div class="row">
                <div class="col-lg-11">
                  <h3 class="player-info-subtitle h4 text-uppercase">
                    {% if member.firstname %} {{member.firstname}}
                    {{member.lastname}}{% else %} Team Era {% endif %}
                  </h3>
                  <h2 class="player-info-title h1 text-uppercase">
                    {{ member.alias }}
                  </h2>
                  <div class="row">
                    {% if member.country %}
                    <div class="col-6 col-md-6 col-xl-4">
                      <div class="player-info-detail">
                        <div class="player-info-detail__label">Country</div>
                        <div class="player-info-detail__title">
                          {{ member.country }}
                        </div>
                      </div>
                    </div>
                    {% endif %}
                    {% if member.membersince %}
                    <div class="col-6 col-md-6 col-xl-4">
                      <div class="player-info-detail">
                        <div class="player-info-detail__label">Since</div>
                        <div class="player-info-detail__title">
                          {{ member.membersince }}
                        </div>
                      </div>
                    </div>
                    {% endif %}
                    {% if member.role %}<div class="col-6 col-md-6 col-xl-4">
                      <div class="player-info-detail">
                        <div class="player-info-detail__label">Role</div>
                        <div class="player-info-detail__title color-primary">
                          {{ member.role }}
                        </div>
                      </div>
                    </div>
                    {% endif %}
                    {% if member.twitter or member.twitch or member.instagram %}
                    <div class="col-6 col-md-6 col-xl-4">
                      <div class="player-info-detail">
                        <div class="player-info-detail__label">Social</div>
                        <ul class="social-menu social-menu--default">
                          <li>
                            <a href="{{ member.twitter }}" target="_blank"></a>
                          </li>
                          <li>
                            <a href="{{ member.twitch }}" target="_blank"></a>
                          </li>
                          <li>
                            <a href="{{ member.instagram }}" target="_blank"></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    {% endif %}
                  </div>
                  <p>{{ member.content }}</p>
                </div>
              </div>
            </div>
			{% endfor %}
			
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="team-player team-player--slider-wrapper">
    <div class="team-player__slider js-team-player__slider">
      {% for member in site.contentcreators %}
      <div class="team-player__slide {{ member.style }}">
        <div class="team-player__slide-inner">
          <div class="team-player__slide-decor">
            <!-- <div class="team-player__slide-line-1"></div>
            <div class="team-player__slide-line-2"></div> -->
          </div>
          {% if member.image %}<img
            src="{{ member.image }}"
            alt="{{ member.firstname }} {{ member.lastname }} aka {{ member.alias }}"
            class="team-player__slide-img"
          />
          {% endif %}
          <div class="team-player__slide-meta-holder">
            <div class="team-player__slide-meta">
              <h4 class="team-player__slide-subtitle h6 color-primary">
                {{ member.firstname }} {{ member.lastname }}
              </h4>
              <h3 class="team-player__slide-title">{{ member.alias }}</h3>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</main>
