---
layout: default
---

<main class="site-content team-info-page" id="wrapper">
  <div class="container container--large">
    <div class="row">
      <div class="col-lg-7">
        <div class="team-carousel">
          <div class="team-carousel__content">
            {% for entry in site.data.stream_team %}
            <div class="team-carousel__item" data-icon="player-{{entry.alias}}" {% if entry.video %}data-video="{{entry.video}}" {% endif %}>
              <div class="row">
                <div class="col-lg-11">
                  <h3 class="player-info-subtitle h4 text-uppercase">
                    {% if entry.firstname %} {{entry.firstname}}
                    {{entry.lastname}}{% else %} Team Era {% endif %}
                  </h3>
                  <h2 class="player-info-title h1 text-uppercase">
                    {{ entry.alias }}
                  </h2>
                  <div class="row">
                    <div class="col-6 col-md-6 col-xl-4">
                      <div class="player-info-detail">
                        <div class="player-info-detail__label">Country</div>
                        <div class="player-info-detail__title">
                          {{ entry.country }}
                        </div>
                      </div>
                    </div>
                    <div class="col-6 col-md-6 col-xl-4">
                      <div class="player-info-detail">
                        <div class="player-info-detail__label">Since</div>
                        <div class="player-info-detail__title">
                          {{ entry.membersince }}
                        </div>
                      </div>
                    </div>
                    <div class="col-6 col-md-6 col-xl-4">
                      <div class="player-info-detail">
                        <div class="player-info-detail__label">Game</div>
                        <div class="player-info-detail__title color-primary">
                          {{ entry.game }}
                        </div>
                      </div>
                    </div>
                    <div class="col-6 col-md-6 col-xl-4">
                      <div class="player-info-detail">
                        <div class="player-info-detail__label">Social</div>
                        <ul class="social-menu social-menu--default">
                          <li>
                            <a href="{{ entry.twitter }}" target="_blank"></a>
                          </li>
                          <li>
                            <a href="{{ entry.twitch }}" target="_blank"></a>
                          </li>
                          <li>
                            <a href="{{ entry.instagram }}" target="_blank"></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <p>{{ entry.biography }}</p>
                </div>
              </div>
            </div>
			{% endfor %}
			
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="team-player team-player--slider-wrapper">
    <div class="team-player__slider js-team-player__slider">
      {% for member in site.data.stream_team %}
      <div class="team-player__slide {{ member.style }}">
        <div class="team-player__slide-inner">
          <div class="team-player__slide-decor">
            <!-- <div class="team-player__slide-line-1"></div>
            <div class="team-player__slide-line-2"></div> -->
          </div>
          <img
            src="{{ member.image }}"
            alt="{{ member.firstname }} {{ member.lastname }} aka {{ member.alias }}"
            class="team-player__slide-img"
          />
          <div class="team-player__slide-meta-holder">
            <div class="team-player__slide-meta">
              <h4 class="team-player__slide-subtitle h6 color-primary">
                {{ member.firstname }} {{ member.lastname }}
              </h4>
              <h3 class="team-player__slide-title">{{ member.alias }}</h3>
              <a
                href="{{ member.alias }}.html"
                class="team-player__slide-link link-plus"
              ></a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</main>
