---
title: store
layout: default
headerimg: "/assets/images/background/store-bg.webp"
---

{% include title.html %}
<!-- Gallery Section Three -->
<section class="gallery-section-three">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 wow fadeInDown" style="margin-bottom: 55px !important;">
                <p><span class="theme-btn btn-style-one"><span id="shop-all" class="btn-title">all</span></span><span class="theme-btn btn-style-one"><span id="shop-popular" class="btn-title">popular</span></span><span class="theme-btn btn-style-one"><span id="shop-tshirts" class="btn-title">t-shirts</span></span><span class="theme-btn btn-style-one"><span id="shop-sweaters" class="btn-title">sweaters</span></span><span class="theme-btn btn-style-one"><span id="shop-hats" class="btn-title">hats</span></span><span class="theme-btn btn-style-one"><span id="shop-accessories" class="btn-title">accessories</span></span></p>
            </div>
        </div>
    </div>
    <div class="auto-container">
        
        <div class="row clearfix">
        
            {% for item in site.store reversed %}
            <!--Gallery Item-->
            <div class="gallery-item col-lg-4 col-md-6 col-sm-12 wow fadeInLeft shop-all {% for tag in item.tags %}shop-{{ tag }} {% endfor %}" data-wow-delay="0ms">
                <div class="inner-box">
                    <figure class="image-box">
                        <img src="{{ item.image }}" alt="">
                        <!--Overlay Box-->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <a href="{{ item.url }}" style="color:#fff"><h2>{{item.title}}</h2></a>
                                    <p style="padding: 10px 15px 15px 15px;color: #fff;">{{ item.description }}</p>
                                    <a href="{{ item.url }}" class="link"><span class="icon flaticon-magnifying-glass-1"></span></a>
                                </div>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>
            {% endfor %}
            
        </div>
        
    </div>
    
</section>