/* Form */

.form-control {
    background-color: $background-primary-color;
    border: none;
    border-bottom: 2px solid $border-color;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: $font-regular;
    position: relative;
    &:focus {
        background-color: $background-primary-color;
        border-color: $border-color;
        border-color: none;
        box-shadow: none;
    }
}
.form-group {
    position: relative;
}
.input-border {
    content: '';
    width: calc(100% - 10px);
    margin-left: 5px;
    height: 2px;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    background-color: $border-color-active;
    transform-origin: 0% 100%;
    transform: scale(0, 1);
    transition: all 0.5s ease-in-out;
}
.form-control:focus ~ .input-border {
    transform-origin: 0% 100%;
    transform: scale(1, 1);
}
.btn-group-toggle {
    .btn-group {
        .btn-secondary {
            background: #F4F4F4;
            color:  $btn-secondary-bg-color;
            border: none;
            box-shadow: none;
            &.active {
                background: $btn-secondary-bg-color;
                border: none;
                color: $primary-white;
            }
        }
        @include media-breakpoint-down(md) {
            .btn {
                background: $primary-white;
                margin-bottom: 10px;
            }
        }
    }
}