		<!-- Header
		================================================== -->
		<header id="header" class="site-header site-header--bottom">
		
			<!-- Logo - Image Based -->
			<div class="header-logo header-logo--img">
				<a href="index.html"><img src="assets/img/logo.png" srcset="assets/img/logo@2x.png 2x" alt="ERA Gaming"></a>
			</div>
			<!-- Logo - Image Based / End -->
		
		
			<!-- Main Navigation -->
			<nav class="main-nav">
				<ul class="main-nav__list">
					<li class=""><a href="home.html">Home</a></li>
					<li class=""><a href="#">Team</a>
						<ul class="main-nav__sub">
							<li class=""><a href="blog-1.html">News v1</a></li>
							<li class=""><a href="blog-2.html">News v2</a></li>
							<li class=""><a href="blog-3.html">News v3</a></li>
							<li class=""><a href="blog-4.html">News v4</a></li>
							<li class=""><a href="blog-classic.html">News Classic <span class="badge badge-danger">New</span></a></li>
							<li class=""><a href="blog-post.html">Post Page</a></li>
						</ul>
					</li>
				</ul>
			</nav>
			<!-- Main Navigation / End -->
		
			<!-- Header Actions -->
			<div class="header-actions">
					<div class="header-pagination">
						<a href="#" class="header-scroll-arrow header-scroll-arrow--left js-team-player__nav-prev">
							<svg role="img" class="df-icon df-icon--left-arrow">
								<use xlink:href="assets/img/necromancers.svg#left-arrow"/>
							</svg>
						</a>
						<a href="#" class="header-scroll-arrow header-scroll-arrow--right js-team-player__nav-next">
							<svg role="img" class="df-icon df-icon--right-arrow">
								<use xlink:href="assets/img/necromancers.svg#right-arrow"/>
							</svg>
						</a>
					</div>
				<div class="header-top-bar-toggle d-md-none hide">
					<svg role="img" class="df-icon df-icon--joystick">
						<use xlink:href="assets/img/necromancers.svg#joystick"/>
					</svg>
					<svg role="img" class="df-icon df-icon--close">
						<use xlink:href="assets/img/necromancers.svg#close"/>
					</svg>
				</div>
				<div class="header-social-toggle d-none d-md-block">
					<svg role="img" class="df-icon df-icon--thumb-up">
						<use xlink:href="assets/img/necromancers.svg#thumb-up"/>
					</svg>
					<span class="header-social-toggle__plus">&nbsp;</span>
					<ul class="social-menu social-menu--header">
						<li><a href="https://discord.gg/xxxx"><span class="link-subtitle">Discord</span>Necrochat</a></li>
						<li><a href="https://twitch.com"><span class="link-subtitle">Twitch</span>Necroplay</a></li>
						<li><a href="https://twitter.com/danfisher_dev"><span class="link-subtitle">Twitter</span>Necrotwt</a></li>
						<li><a href="https://www.facebook.com/danfisher.dev/"><span class="link-subtitle">Facebook</span>Necrogame</a></li>
					</ul>
				</div>
				<div class="header-cart-toggle">
					<svg role="img" class="df-icon df-icon--bag">
						<use xlink:href="assets/img/necromancers.svg#bag"/>
					</svg>
					<svg role="img" class="df-icon df-icon--close">
						<use xlink:href="assets/img/necromancers.svg#close"/>
					</svg>
					<span class="header-cart-toggle__items-count">4</span>
				</div>
				<div class="header-search-toggle">
					<svg role="img" class="df-icon df-icon--search">
						<use xlink:href="assets/img/necromancers.svg#search"/>
					</svg>
					<svg role="img" class="df-icon df-icon--search-close">
						<use xlink:href="assets/img/necromancers.svg#search-close"/>
					</svg>
				</div>
				<div class="header-account hide">
					<div class="header-account__avatar">
						<img src="assets/img/samples/account-user-avatar.jpg" srcset="assets/img/samples/account-user-avatar@2x.jpg 2x" alt="">
					</div>
					<div class="header-account__body">
						Hello!
						<div class="header-account__name">James Spiegel</div>
					</div>
					<div class="header-account__icon">
						<a href="shop-account-settings.html">
							<svg role="img" class="df-icon df-icon--account">
								<use xlink:href="assets/img/necromancers.svg#account"/>
							</svg>
						</a>
						<a href="login-register.html">
							<svg role="img" class="df-icon df-icon--logout">
								<use xlink:href="assets/img/necromancers.svg#logout"/>
							</svg>
						</a>
					</div>
				</div>
				<div class="header-menu-toggle">
					<div class="header-menu-toggle__inner">
						<span>&nbsp;</span>
						<span>&nbsp;</span>
						<span>&nbsp;</span>
					</div>
				</div>
			</div>
			<!-- Header Actions / End -->
		</header>
		<!-- Header / End -->