<!-- Menu Panel -->
<div class="menu-panel">
  <ul class="menu-panel__mobile-bar list-unstyled d-md-none">
    <li class="mobile-bar-item">
      <a
        class="mobile-bar-item__header collapsed"
        data-toggle="collapse"
        href="#mobile_collapse_1"
        role="button"
        aria-expanded="false"
        aria-controls="mobile_collapse_1"
      >
        Main Links
        <span class="main-nav__toggle">&nbsp;</span>
      </a>
      <div id="mobile_collapse_1" class="collapse mobile-bar-item__body">
        <!-- Mobile Navigation -->
        <nav class="mobile-nav">
          <ul class="mobile-nav__list">
            <li class=""><a href="home.html">Home page</a></li>
            <li class=""><a href="index.html">Streamers</a></li>
            <li class=""><a href="stream-archive.html">Stream Archive</a></li>   
          </ul>
        </nav>
        <!-- Mobile Navigation / End -->
      </div>
    </li>
    <li class="mobile-bar-item">
      <a
        class="mobile-bar-item__header collapsed"
        data-toggle="collapse"
        href="#mobile_collapse_2"
        role="button"
        aria-expanded="false"
        aria-controls="mobile_collapse_2"
      >
        Social Links
        <span class="main-nav__toggle">&nbsp;</span>
      </a>
      <div id="mobile_collapse_2" class="collapse mobile-bar-item__body">
        <ul class="social-menu social-menu--mobile-bar">
        {% for entry in site.data.nav_data %}
          <li>
            <a href="{{ entry.twitterLink }}"><span>Twitter</span></a>
          <li>
            <a href="{{ entry.twitchLink }}"><span>Twitch</span></a>
          </li>
          <li>
            <a href="{{ entry.discordLink }}"><span>Discord</span></a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </li>
    <li class="mobile-bar-item mobile-bar-item--partners">
      <a
        id="mobile_collapse_4h"
        class="mobile-bar-item__header collapsed"
        data-toggle="collapse"
        href="#mobile_collapse_4"
        role="button"
        aria-expanded="false"
        aria-controls="mobile_collapse_4"
      >
        Our Partners
        <span class="main-nav__toggle">&nbsp;</span>
      </a>
      <div id="mobile_collapse_4" class="collapse mobile-bar-item__body">
        <div class="mobile-bar-item__inner">
          <ul class="widget-partners-mobile-carousel">
            {% for partner in site.data.partners %}
            <li>
              <img
                src="{{ partner.logo }}"
                alt=""
              />
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </li>
  </ul>

  <div class="menu-panel__content d-none d-md-flex">
    <div class="menu-panel__navigation">
      <div id="dl-menu" class="dl-menuwrapper">
        <ul class="dl-menu dl-menuopen">
          <li class="">
            <a href="home.html">Home</a>
          </li>
          <li>
            <a href="index.html">Streamers</a>
          </li>
          <!-- <li class="">
            <a href="team-selection-2.html">Streamers</a>
                <ul class="dl-submenu">
                    {% for streamer in site.data.stream_team %}
                  <li class="">
                    <a href="{{ streamer.alias }}.html">{{ streamer.alias }}</a>
                  </li>
                  {% endfor %}
                </ul>
          </li> -->
          <li class=""><a href="stream-archive.html">Stream Archive</a></li>   
        </ul>
      </div>
    </div>
    <div class="menu-panel__widget-area">
        {% for entry in site.data.nav_data %}
      <div class="row">
        <div class="col-md-12 col-lg-6 col-xl-5">
          <!-- Widget: Text -->
          <section class="widget widget-text">
            <h5 class="widget__title">Join our community</h5>
            <div class="widget__content">
              <p>
                Endless Era gaming can only exist with all of you! Join the discord, drink the kool-aid and 
                become part of the community today!
              </p>
              <div class="info-box">
                <div class="info-box__label">Join us on Discord</div>
                <div class="info-box__content">
                  <a href="{{ entry.discordLink }}
                    >mp-recruit<span class="color-primary"></span
                    >{{ entry.discordShort }}</a
                  >
                </div>
              </div>
              <div class="info-box">
                <div class="info-box__label">Follow us on Twitch</div>
                <div class="info-box__content">
                  <a href="{{ entry.twitchLink }}
                    >partners<span class="color-primary"></span
                    >{{entry.twitchShort}}</a
                  >
                </div>
              </div>
            </div>
          </section>
          {% endfor %}
          <!-- Widget: Text / End -->
        </div>
        <div class="col-md-12 col-lg-6 col-xl-5 offset-xl-2 mt-5 mt-lg-0">
        <section class="widget widget-contact-info">
                <!-- Widget: Contact Info -->
                {% for entry in site.data.nav_data %}
            <h5 class="widget__title">Contact Info</h5>
            <div class="widget__content">
              <p>
                If you have any questions, hit us up on discord!
              </p>
              <div class="info-box">
                <div class="info-box__label">General inquiries</div>
                <div class="info-box__content">
                  <a href="mailto:#"
                    >{{ entry.email }}<span class="color-primary">@</span
                    >{{ entry.teamShortName }}.com</a
                  >
                </div>
              </div>
              <ul class="social-menu social-menu--default">
                <li><a href="{{ entry.twitterLink}}"></a></li> 
                <li><a href="{{ entry.twitchLink}}"></a></li>
                <li><a href="{{ entry.discordLink}}"></a></li>
              </ul>
            </div>
        </section>
        {% endfor %}
        <!-- Widget: Contact Info / End -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <!-- Widget: Partners Carousel -->
          <section class="widget widget-partners-carousel">
            <h5 class="widget__title">Our Partners</h5>
            <div class="widget__content">
              <ul>
                {% for partner in site.data.partners %}
                <li>
                  <img
                    src="{{ partner.logo }}"
                    alt="{{ partner.name }}"
                  />
                </li>
                {% endfor %}
              </ul>
            </div>
          </section>
          <!-- Widget: Partners Carousel / End -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Menu Panel / End -->
