<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YNB039JR9K"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-YNB039JR9K');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Teddy For a Toonie League of Legends Tournament</title>
    <link rel="icon" type="image/ico" href="/assets/teddy/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/teddy/css/vendors.css">
    <!-- build:css -->
    <link rel="stylesheet" href="/assets/teddy/css/main.css">
    <!-- endbuild -->
</head>