    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-12 col-md-3 text-left">
                    <p>&copy; 2020 ERA Gaming<br />Website Donated By Todd Willsie</p>
                </div>
                <div class="col-12 col-md-9 text-md-right">
                    <ul>
                        <li><a href="https://www.iubenda.com/privacy-policy/20193583" data-flip="Privacy" title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- /Footer -->