/* Blog grid */

.blog-grid {
    a.grid__link:hover {
        .item__image img {
            transform: scale(1.15);
        }
    }
    .grid__item {
        background-color: $primary-white;
        .item__image {
            width: 100%;
            height: 100%;
            overflow: hidden;
            img {
                transition: transform 2s, filter 1.5s ease-in-out;
            }
        }
        .grid__content {
            padding: 40px 20px;
            a {
                transition: 0.3s ease;
                &:hover {
                    text-decoration: none;
                }
            }
            .grid__category {
                margin-bottom: 5px;
            }
            .grid__title {
                margin-bottom: 20px;
                transition: 0.3s ease;
                &:hover {
                    color: $main-hover-color; 
                }
            }
            .grid__text {
                color: $text-color;
            }
            .grid__btn {
                text-transform: uppercase;
                font-size: 12px;
                font-weight: $font-semibold;
                letter-spacing: 1px;
                color: $brand-primary-color;
                
                &:hover {
                    color: $main-hover-color;
                }
            }
        }
        @include media-breakpoint-down(md) {
            margin-bottom: 30px;
        }
    }
}