/* Header */

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0;
    padding-right: 0;
}
.navbar {
    padding: 0 60px;
    box-shadow: 0px 4px transparent;
    transition: background-color 0.3s, box-shadow 0.0s ease-in,
                padding 0.1s ease 0.0s;
    background-color: transparent;
    @include media-breakpoint-down(lg) {
        padding: 0;
        height: auto;
    }
    @include media-breakpoint-down(sm) {
        position: relative;
        padding: 0;
    }
    ul {
        li {
            padding-top: 40px;
            padding-bottom: 40px;
            transition: background-color 0.3s, box-shadow 0.0s ease-in,
                        padding 0.1s ease 0.0s;
            a {
                position: relative;
                &:after {
                    content: '';
                    width: 100%;
                    height: 2px;
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    transform-origin: left;
                    transform: scale(0, 1);
                    transition: all 0.4s cubic-bezier(0.99, 0.03, 0, 1);
                    margin-left: 0;
                    vertical-align: 0;
                    border: 0;
                }
            }
            &:hover a:after {
                transform: scale(1, 1);
                transform-origin: right;
                height: 2px;
            }
            a.active:after {
                content: '';
                width: 100%;
                height: 2px;
                position: absolute;
                bottom: -5px;
                left: 0;
                transform: scale(1, 1);
            }
            .dropdown-menu {
                background-color: $primary-white;
                border-radius: 0;
                border: none;
                margin-top: -30px;
                position: absolute;
                box-shadow: -1px 2px 19px 3px rgba(14, 0, 40, 0.05);
                z-index: 0;
                .dropdown-item {
                    color: $navbar-color;
                    font-size: 12px;
                    padding: 20px 45px;
                    transition: all 0.15s ease-in;
                    &:hover, :focus {
                        background-color: transparent;
                        color: $navbar-dopdown-hover-color;
                    }
                    &:after {
                        content: none;
                    }
                }
                @include media-breakpoint-down(lg) {
                    display: none;
                }
            }
        }
    }
    .btn {
        transition: color 0.15s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        &:hover i {
            color: $brand-attention;
        }
    }
    .navbar-collapse {
        flex-grow: 0;
        position: relative;
    }
    .navbar-brand {
        padding-top: 0;
        padding-bottom: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        @include media-breakpoint-down(md) {
            position: relative;
            transform: none;
            padding: 5px 0;
        }
        .navbar-logo--inverted {
            display: block;
            opacity: 1;
            position: relative;
            transition: opacity 0.3s ease;
        }
        .navbar-logo--default {
            display: block;
            opacity:0;
            height: 0;
            overflow: hidden;
            position: absolute;
            top: 0;
            transition: opacity 0.3s ease;
        }
        .navbar-logo {
            height: 53px;
            width: auto;
        }
    }
    ul {
        position: relative;
        li {
            margin: 0 30px;
            letter-spacing: 1px;
            a {
                color: $navbar-color-inverted;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: $font-semibold;
                transition: color 0.15s;
                &:after {
                    background-color: $navbar-color-inverted;
                }
                &.active:after {
                    background-color: $navbar-color-inverted;
                }
            }
        }
    }
    @include media-breakpoint-down(md) {
        padding: 0;
        align-items: center;
        background-color: transparent;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
        position: absolute;
        background-color: $primary-white;
        .navbar-collapse {
            top: 0;
            left: 0;
            width: 100%;
        }
        .navbar-collapse.collapse.show {
            height: 100vh;
        }
        .navbar-nav {
            height: 100vh;
            display: flex;
            align-items: center;
            padding-top: 20%;
        }
        ul {
            li {
                padding-bottom: 15px;
                a {
                    color: $navbar-color;
                }
            }
        }
        .navbar-brand {
            .navbar-logo--inverted {
                opacity: 0;
                overflow: hidden;
                position: absolute;
                top: 0;
            }
            .navbar-logo--default {
                display: block;
                opacity: 1;
                position: relative;
            }
        }
        .navbar-toggler-icon {
            background-image: none;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 25px !important;
            height: 20px;
            .burger {
                position: absolute;
                z-index: 99999;
                right: 15px;
                width: 15px !important;
                height: 20px;
                cursor: pointer;
                width: 100%;
            }
            .burger__line {
                position: absolute;
                width: 100%;
                height: 2px;
                top: 50%;
                margin-top: -1px;
                left: 0;
                display: block;
                background: $brand-secondary-color;
                transition: .5s;
            }
            .burger__line:first-child {
                top: 3px;
            }
            .burger__line:last-child {
                top: 16px;
            }
            .burger:hover {
                cursor: pointer;
            }
            .burger.active {
                .burger__line {
                    opacity: 0;
                    top: 50%;
                }
                .burger__line:first-child {
                    opacity: 1;
                    transform: rotate(405deg);
                }
                .burger__line:last-child {
                    opacity: 1;
                    transform: rotate(-405deg);
                }
            }
        }
        
    }
    &.navbar--color {
        position: sticky;
        background-color: $primary-white;
        box-shadow: 0 10px 26px rgba(0, 0, 0, 0.03);
        @include media-breakpoint-down(sm) {
            position: relative;
        }
        ul {
            li {
                padding-top: 20px;
                padding-bottom: 20px;
                a {
                    color: $navbar-color;
                    position: relative;
                    &:after {
                        background-color: $main-hover-color;
                    }
                }
                .dropdown-menu {
                    margin-top: 0;
                }
            }
        }
        .navbar-brand {
            .navbar-logo--inverted {
                opacity: 0;
                overflow: hidden;
                position: absolute;
                top: 0;
            }
            .navbar-logo--default {
                display: block;
                opacity: 1;
                position: relative;
            }
        }
        .btn {
            border-color: $navbar-color;
            color: $navbar-color;
                transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
            i {
                color: $brand-attention;
            }
            &:hover {
                background-color: transparent;
                border-color: $btn-primary-bg-color-hover;
                color: $btn-primary-bg-color-hover;
            }
        }
    }
    &.sticky {
        padding-top: 0;
        padding-bottom: 0;
        background-color: $background-primary-color;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
        transition: padding 0.3s ease, 
        background-color 0.3s ease 0.2s, box-shadow 0.15s ease-in 0.2s;
        @include media-breakpoint-only(lg) {
            padding: 0;
        }
        ul {
            li {
                padding-top: 20px;
                padding-bottom: 20px;
                a {
                    color: $navbar-color;
                    transition: color 0.15s 0.2s;
                    &:after {
                        background-color: $main-hover-color;
                    }
                    &.active:after {
                        background-color: $main-hover-color;
                    }
                }
                .dropdown-menu {
                    margin-top: 0;
                }
            }
        }
        .navbar-brand {
            .navbar-logo--inverted {
                opacity: 0;
                overflow: hidden;
                position: absolute;
                top: 0;
            }
            .navbar-logo--default {
                display: block;
                opacity: 1;
                position: relative;
            }
        }
        .btn {
            border-color: $navbar-color;
            color: $navbar-color;
                transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
            i {
                color: $brand-attention;
            }
            &:hover {
                background-color: transparent;
                border-color: $btn-primary-bg-color-hover;
                color: $btn-primary-bg-color-hover;
            }
        }
    }
}