// SASS variables

/// Regular font family
$text-font-stack: 'Poppins',
sans-serif !default;

// Font-weights
$font-regular: 400;
$font-semibold: 600;
$font-bold: 900;

$text-color: #56657C !default;
$title-color: #082048 !default;
$subtitle-color: #E9005A !default;
$faq-color: #2158A2 !default;
$brand-primary-color: #2158A2 !default;
$brand-secondary-color: #082048 !default;
$brand-attention: #E9005A !default;
$brand-positive: #05BF70 !default;
$background-primary-color: #ffffff !default;
$background-secondary-color: #F5F6FF !default;
$background-tertiary-color: #56657C !default;
$shadow-color: #2378ED !default;
$border-color: #E4E4E4 !default;
$border-color-alternative: #D1DCEC !default;
$border-color-active: #56657C !default;
$primary-white: #ffffff !default
$main-hover-color: #2378ED !default;
$navbar-color: #082048 !default;
$navbar-dopdown-hover-color: #2378ED !default;
$navbar-color-inverted: #ffffff !default;
$btn-primary-bg-color: #2158A2;
$btn-primary-bg-color-hover: #2378ED;
$btn-primary-txt-color:  #ffffff !default;
$btn-primary-txt-color-hover: #ffffff;
$btn-secondary-bg-color: #56657C !default;
$btn-secondary-bg-color-hover: #43474E !default;
$btn-secondary-txt-color: #56657C !default;
$btn-secondary-txt-color-hover: #ffffff !default;
$footer-bg: #56657C !default;
$footer-text: #ffffff !default;
$footer-text-hover: #D2E2ED !default;

/// Container's maximum width
/// @type Length
$max-width: 1320px !default;
/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: ( 'small': 320px, 'medium': 768px, 'large': 1024px, ) !default;
/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
///   $base-url: '/assets/' !default;