{% include head.html %}
{% include navigation.html %}
{% include post-title.html %}
    <!--Sidebar Page Container-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">

                <!--Content Side / Blog Detail-->
                <div class="content-side col-lg-8 col-md-12 col-sm-12">
                    <div class="blog-detail">
                		<div class="image-box">
                			<figure class="image"><img src="{{ page.image }}" alt=""></figure>
                		</div>
                		<div class="lower-content">
                			<div class="post-date">{{ page.date | date: "%-d %B %Y"}}</div>
							<h2>{{ page.title }}</h2>
							<div class="post-info">
							<p>by <a href="#">{{ page.author }}</a></p>
                            </div>
                            {{ content }}
                		</div>
                    </div>

                    <!-- Other Options -->
                    <div class="post-share-options clearfix">
                        <div class="pull-left">
                            <ul class="tags">
                                {% for tag in page.tags %}
                                <li><a href="#">{{ tag }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="social-links pull-right">
                            <ul class="social-links">
                                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
                                <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                                <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    
                </div>

                {% include blog-sidebar.html %}
            </div>
        </div>
    </div>
    <!-- End Sidebar Page Container -->
{% include footer.html %}