<!DOCTYPE html>
<html lang="en">

{% include head_styles.html %}

<body id="index" class="preload">

    <!-- Preloader -->
    <div class="preloader" id="preloader">
        <div class="preloader__spinner">
            <span class="spinner__ring"></span>
        </div>
        <div class="preloader__sitetitle">
            ERA
        </div>
        <div class="preloader__text">
            GAMING
        </div>
    </div>
    <!-- /Preloader-->

    {% include navigation.html %}
    <main role="main">
        <!-- Hero -->
        <section class="hero mb-4 mb-md-5">
            <div class="hero__wrapper d-flex align-items-center">
                <div data-jarallax data-speed="0.2" class="jarallax hero__parallax">
                    <img src="/assets/teddyimg/hero/hero-unsplash-oidJ1WGkIeY.jpg" alt="Teddy and Teemo" data-speed="0.7" class="jarallax-img jarallax-img--darken">
                    <div class="jarallax__content d-flex justify-content-center align-items-center" data-aos="fade" data-aos-delay="300" data-aos-duration="1000">
                        <div class="container ">
                            <div class="row">
                                <div class="col-12 col-lg-8 col-xl-6">
                                    <div class=" hero__text">
                                        <div class="subtitle" data-aos="fade-right" data-aos-delay="800" data-aos-duration="900">
                                            ATB & memoryexpress in association with Seagate presents_
                                        </div>
                                        <h1 data-aos="fade" data-aos-delay="1400" data-aos-duration="1000">Teddy For A Toonie League of Legends Tournament Fundraiser</h1>
                                        <p class="d-none d-sm-block" data-aos="fade-right" data-aos-delay="1800" data-aos-duration="900"><strong>Thank you</strong> for registering to compete in the Teddy For a Toonie League of Legends Tournament Fundraiser to raise money for the children’s hospitals in Alberta. To ensure you can compete on October 31 and November 1, your registration will include a donation. 100% of your registration will be split equally between Alberta Children's Hospital Foundation in Calgary and Stollery Children's Hospital Foundation in Edmonton.</p>
                                        <div class="btn-group">
                                            <div class="btn-l" data-aos="fade" data-aos-delay="2600" data-aos-duration="1000">
                                                <a href="#donate" class="btn btn-primary mr-3 mt-4"><i class="lni lni-heart"></i> Donate For Your Registration </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="hero__bulletbar" data-aos="fade" data-aos-delay="700" data-aos-duration="1500">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                    <p><span class="subtitle" style="color:#2158A2;">Our Sponsors_</span></p>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-4" data-aos="fade-left" data-aos-delay="1500" data-aos-duration="900">
                                        <img src="/assets/teddyimg/sponsors/ATB.png" alt="ATB" style="height:60px; width:auto;" />
                                    </div>
                                    <div class="col-4" data-aos="fade-left" data-aos-delay="1700" data-aos-duration="900">
                                        <img src="/assets/teddyimg/sponsors/memoryexpress.png" alt="memory express" style="height:60px; width:auto;" />
                                    </div>
                                    <div class="col-4" data-aos="fade-left" data-aos-delay="1900" data-aos-duration="900">
                                        <img src="/assets/teddyimg/sponsors/seagate.png" alt="seagate gaming" style="height:60px; width:auto;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Hero -->
        <!-- Content -->
        <section class="content bg-shape-1">
            <div class="container">
                <div class="row mt-5 mt-md-10 mb-5 d-flex align-items-center">
                    <div class="col-12 col-md-6 mb-5" data-aos="fade-right" data-aos-delay="200" data-aos-duration="1500">
                        <!-- Image -->
                            <span class="video-btn__image">
                                <img src="/assets/teddyimg/video/video-unpslash-xrAADPPU4M.jpg" alt="Video" class="polaroid box-shadow">
                            </span>
                        <!-- /Image -->
                    </div>
                    <div class="col-12 col-md-6" data-aos="fade-left" data-aos-delay="300" data-aos-duration="1500">
                        <span class="subtitle">Your tournament registration goes a long way_</span>
                        <h2 class="title-line text-left">About this fundraiser tournament</h2>
                        <p class="text-left mb-4">Right now, one in five kids struggle with mental health issues like anxiety, depression, eating disorders and schizophrenia - and only half can get access to the help they need. You're changing that today!</p>
                        <p class="text-left mb-4">Every donation to Teddy for a Toonie will help Alberta’s children and youth access the mental health support they need.</p>
                        <p class="text-left mb-4">Lear more at <a href="https://atbd.com/teddy" target="_blank">atb.com/teddy</a></p>
                        <!-- Bullet-list -->
                        <div class="bullet-list">
                            <div class="bullet">
                                <div class="bullet__icon">
                                    <img src="/assets/teddyimg/icons/calendar.svg" alt="Lungs" />
                                </div>
                                <div class="bullet__text">
                                    <h5>Tournament Date</h5>
                                    <p>October 31 - November 1, 2020</p>
                                </div>
                            </div>
                            <div class="bullet">
                                <div class="bullet__icon">
                                    <img src="/assets/teddyimg/icons/wall-clock.svg" alt="Shake hands" />
                                </div>
                                <div class="bullet__text">
                                    <h5>Start Time</h5>
                                    <p>12PM MST</p>
                                </div>
                            </div>
                            <div class="bullet">
                                <div class="bullet__icon">
                                    <img src="/assets/teddyimg/icons/discord.svg" alt="Sneeze" />
                                </div>
                                <div class="bullet__text">
                                    <h5>Discord</h5>
                                    <p><a href="https://invite.gg/memoryexpress" target="_blank">https://invite.gg/memoryexpress</a></p>
                                </div>
                            </div>
                        </div>
                        <!-- /Bullet-list -->
                    </div>
                </div>
            </div>
        </section>
        <!-- /Content -->
        <!-- Donation -->
        <section class="donation bg-f bg-f--secondary pt-5 pb-5" id="donate">
            <div class="d-flex align-items-center">
                <script type="text/javascript" src="https://form.jotform.com/jsform/202756478593065"></script>
            </div>
        </section>
        <!-- /Donation -->
    </main>
    {% include footer_sosumi.html %}
    {% include footer_javascript.html %}
</body>

</html>